:root {
  --cards: #af9164;
  --text: #f7f3e3;
  --header2: #b3b6b7;
  --header1: #6f1a07;
  --background: #2b2118;
  --background2: #3c2014;
  --heading: #d3c2a4;
  --footer: #3e352d;
  --button: #4D1E10;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

h1 {
    margin: 0;
}

p {
    font-weight: 300;
}

header {
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--heading);
    font-weight: 300;
    padding: 15px;
    justify-content: center;
    height: 50px;
    margin-bottom: 20px;
}

header h1 {
    padding-right: 40px;
    border-right: 1px solid gray;
}

header ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-left: 40px;
}

header li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

header li {
    align-self: center;
    text-decoration: none;
}

header li :hover {
    text-decoration: underline;
    color: #64829b;
}

.content {
    padding: 74px 50px;
    background-color: var(--background);
    display: flex;
    /* flex-direction: row; */
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 25%;
    background-color: var(--cards);
    color: var(--text);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 15px;
    width: 300px;
    height: 250px
}

.card h2 {
    font-size: 1.5em;
}

button {
    width: 80%;
    background-color: var(--button);
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: var(--footer);
    color: white;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 15px;
}

footer a {
    color: white;
}

footer div {
    margin: 20px;
}

@media screen and (max-width: 800px) {
    footer {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 750px) {
    footer {
        grid-template-columns: 1fr;
    }
    header {
        flex-direction: column;
    }
    header * {
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }
    header h1 {
        border: none;
        padding: 0;
    }
    header ul {
        margin: 0 auto;
    }
    .content {
        flex-direction: column;
        margin: 0 auto;
        padding: 20px 0;
    }
    .card {
        margin: 0 auto;
    }
    #homepage_fruit {
        margin-top: 100px;
    }
    .info {
        margin-top: 100px;
    }
    .business_information {
        grid-row: 3;
    }
    /* .content{ */
      /* flex-direction: column; */
    /* } */
}

ul {
    text-align: center;
    <!-- list-style-position: inside; -->
}

.no_bullets {
  list-style-type: none;
}

.page_title {
  text-align: center;
  width: 100%;
}

main {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

main h1{
  color: var(--text);
}

header h1{
  color: var(--header1);
}

html{
  background-color: var(--background2);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.homeimage{
  border-radius: 5px;
  width: 100%;
}

/*footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}*/

footer{
  /*position: absolute;*/
  /*top: 90%;*/
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.video{
  width: 95%;
}

/* Slideshow container */
  .slideshow-container {
      max-width: 100%;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
  
    .mySlides img {
      margin-top: 5%;
      max-width: 90%;
      max-height: 90%;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }

.rolled {
  background-image: url("https://media.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif");
  background-size: 320px 320px;
  height: 1000000000px;
  width: 1000000000px;
}

header{
  z-index: 90;
}