@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100&family=Lisu+Bosa:wght@200&display=swap');

img {
  object-fit: cover;
  height: 200px;
  width: 70px;
}

.lisu {
  font-family: 'Handjet';
}

.test {
  color: red;
}